
<!DOCTYPE html>
<html lang="en-US" class="no-js">
  <head>

    <!-- ==============================================
    Title and Meta Tags
    =============================================== -->
    <meta charset="utf-8">
    <title>Shapes | Clean Portfolio Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- ==============================================
    Favicons
    =============================================== -->
    <link rel="shortcut icon" href="assets/favicon.ico">
    <link rel="apple-touch-icon" href="assets/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/apple-touch-icon-114x114.png">
    
    <!-- ==============================================
    CSS
    =============================================== -->    
    <link rel="stylesheet" href="http://q-themes.net/themes/shapes/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://q-themes.net/themes/shapes/css/font-awesome.css">
    <link rel="stylesheet" href="http://q-themes.net/themes/shapes/css/flexslider.css">
    <link id="main" rel="stylesheet" href="http://q-themes.net/themes/shapes/css/shapes-blue.css">
    <link id="theme" rel="stylesheet" href="http://q-themes.net/themes/shapes/css/shapes-blue.css">
    <link rel="stylesheet" href="http://q-themes.net/themes/shapes/css/style-switcher.css">

    <link id="theme" rel="stylesheet" href="http://q-themes.net/themes/shapes/css/shapes-blue.css">


    <link href="http://responsivewebinc.com/premium/renata2/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://responsivewebinc.com/premium/renata2/css/style.css" rel="stylesheet">
  <link href="http://responsivewebinc.com/premium/renata2/css/rs-settings.css" rel="stylesheet">
    
    
    <!-- ==============================================
    Fonts
    =============================================== -->

    <!-- ==============================================
    JS
    =============================================== -->
      
    <!--[if lt IE 9]>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    
    <script type="text/javascript" src="http://q-themes.net/themes/shapes/js/libs/modernizr.min.js"></script>
    
    
<script>

function loadXMLDoc()
{
  var xmlhttp;
  if (window.XMLHttpRequest)
    {// code for IE7+, Firefox, Chrome, Opera, Safari
      xmlhttp=new XMLHttpRequest();
    }
  else
    {// code for IE6, IE5
      xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }
  xmlhttp.open("GET","lc.html",false);
  xmlhttp.send();
  document.getElementById("lc").innerHTML=xmlhttp.responseText;
}

</script>

  </head>
  
  <body data-spy="scroll" data-target="#main-nav" data-offset="400" id ="lc">
  
    <!--=== PAGE PRELOADER ===-->
    <div id="page-loader"><h1 class='loader-logo'>Shapes<span> / Creative Studio</span></h1><span class="page-loader-gif"></span></div>
    
    <!--=== BACKGROUND ===-->
    <div id="backgrounds" data-backgrounds="http://q-themes.net/themes/shapes/assets/back_img_1.jpg,http://q-themes.net/themes/shapes/assets/back_img_2.jpg,http://q-themes.net/themes/shapes/assets/back_img_3.jpg"></div>
    <div id="color-overlay"></div>
  
    <!-- ==============================================
    MAIN NAV
    =============================================== -->
    <div id="main-nav" class="navbar navbar-fixed-top">
      <div class="container">
      
        <div class="navbar-header">
        
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-nav">
            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
          
          <!-- ======= LOGO ========-->
          <a class="navbar-brand scrollto" href="#home">SHAPES<span> / Creative Studio</span></a>
          <!-- <a class="navbar-brand scrollto ir-logo" href="#home">SHAPES<span> / Creative Studio</span></a> -->
        
        </div>
        
        <div id="site-nav" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="sr-only">
              <a href="#home" class="scrollto">Home</a>
            </li>
            <li>
              <a onclick="loadXMLDoc()" class="scrollto">Services</a>
            </li>
            <li>
              <a href="#portfolio" class="scrollto">Portfolio</a>
            </li>
            <li>
              <a href="#about" class="scrollto">About</a>
            </li>
            <li>
              <a href="#contact" class="scrollto">Contact</a>
            </li>
          </ul>
        </div><!--End navbar-collapse -->
        
      </div><!--End container -->
      
    </div><!--End main-nav -->
    
    <!-- ==============================================
    HEADER
    =============================================== -->

    
    <!-- ==============================================
    SERVICES
    =============================================== -->
   
    <!-- ==============================================
    ABOUT
    =============================================== -->
    <header id="home">
    
      <div class="banner-container">
      <div class="banner">
        <ul>
          
        <!-- THE fade EFFECT EXAMPLES  WITH LINK ON THE MAIN SLIDE EXAMPLE -->
        <!-- First Slide for banner container -->
          <li data-transition="slotzoom-horizontal" data-slotamount="1">
            <img src="http://responsivewebinc.com/premium/renata2/img/slider/1.jpg" alt="" /> 
            
            <!-- Slider Left Side -->
            <div class="caption sfb caption-lb" data-x="left" data-y="190" data-speed="500" data-start="3500" data-easing="easeOutSine">
              <div class="lb-inner br-red">
                <div class="lb-content">
                  <h3>Paseses</h3>
                  <span>Lorem Ipsum<br />variations.</span>
                </div>
              </div>
            </div> 
            
            <!-- Bor image -->
            <div class="caption sft bor" data-x="center" data-y="150" data-speed="500" data-start="1700" data-easing="easeOutSine">
              <img src="http://responsivewebinc.com/premium/renata2/img/slider/designbor.png" class="img-responsive" alt="" />
            </div>
            
            <!-- Slider main heading -->
            <div class="caption sfb slideone-h" data-x="center" data-y="160" data-speed="500" data-start="1100" data-easing="easeOutSine">
              <h2>WITH REVOLUTION!</h2>
            </div>
            
            <!-- Paragraph for Slider -->
            <div class="caption lfr slideone-p"  data-x="center" data-y="260" data-speed="500" data-start="2200" data-easing="easeOutSine">
              <p>Unlimited again is there anyone who transaction again is there<br /> anyone who because it is pleasure .It was popularised in the<br /> release of Letraset sheets containing Lorem Ipsum passages.</p>
            </div>
            
            <!-- Caption Buttons -->
            <div class="caption sfb cbtn" data-x="center" data-y="370" data-speed="500" data-start="2500" data-easing="easeOutSine">
              <a href="#" class="caption-button br-lblue"><i class="fa fa-cloud-download"></i>  Download</a> &nbsp; 
              <a href="#" class="caption-button br-green"><i class="fa fa-desktop"></i> Try now</a>
            </div>
            
            <!-- Slider Right Side -->
            <div class="caption sft caption-rb" data-x="right" data-y="190" data-speed="500" data-start="3900" data-easing="easeOutSine">
              <div class="rb-inner br-lblue">
                <div class="rb-content">
                  <h3>Nostrum</h3>
                  <span>Tempora inci<br />variations.</span>
                </div>
              </div>
            </div> 
            
            <!-- Bottom Flat icon images -->
            
            <div class="caption sfb caption-icon" data-x="290" data-y="450" data-speed="500" data-start="4200" data-easing="easeOutSine">
              <img src="http://responsivewebinc.com/premium/renata2/img/slider/3.png" class="img-responsive" alt="" />
            </div>
            <div class="caption sfb caption-icon" data-x="390" data-y="450" data-speed="500" data-start="4400" data-easing="easeOutSine">
              <img src="http://responsivewebinc.com/premium/renata2/img/slider/4.png" class="img-responsive" alt="" />
            </div>
            <div class="caption sfb caption-icon" data-x="490" data-y="450" data-speed="500" data-start="4600" data-easing="easeOutSine">
              <img src="http://responsivewebinc.com/premium/renata2/img/slider/5.png" class="img-responsive" alt="" />
            </div>
            <div class="caption sfb caption-icon" data-x="590" data-y="450" data-speed="500" data-start="4800" data-easing="easeOutSine">
              <img src="http://responsivewebinc.com/premium/renata2/img/slider/6.png" class="img-responsive" alt="" />
            </div>  
          </li>
          
        
        <!-- Second slide for banner container -->
          <li data-transition="slotzoom-vertical" data-slotamount="1">
            <img src="http://responsivewebinc.com/premium/renata2/img/slider/2.jpg" alt="" />
            
            <!-- Slider Left Side Image -->
            <div class="caption sfb caption-img" data-x="0" data-y="170" data-speed="500" data-start="2500" data-easing="easeOutSine">
              <img src="http://responsivewebinc.com/premium/renata2/img/slider/mb1.png" class="img-responsive" alt="" />
            </div> 
            <div class="caption sft caption-img" data-x="0" data-y="170" data-speed="500" data-start="3300" data-easing="easeOutSine">
              <img src="http://responsivewebinc.com/premium/renata2/img/slider/mb2.png" class="img-responsive" alt="" />
            </div> 
            
            <!-- Slider main heading -->
            <div class="caption sfb slidetwo-h" data-x="500" data-y="150" data-speed="500" data-start="1100" data-easing="easeOutSine">
              <h2>REPNDAE SINT!</h2>
            </div>
            
            <!-- Paragraph for Slider -->
            <div class="caption lfr slidetwo-p"  data-x="500" data-y="250" data-speed="300" data-start="1700" data-easing="easeOutSine">
              <p>Unlimited again anyone win love specimen book.</p>
            </div>
            
            <!-- Caption List icons -->
            <div class="caption sfb caption-list" data-x="500" data-y="290" data-speed="500" data-start="4300" data-easing="easeOutSine"> 
              <div class="list-item">
                <span><i class="fa fa-print br-red"></i> &nbsp; Excepturi dece with righteous.</span>
              </div>
            </div>
            <div class="caption sfb caption-list" data-x="500" data-y="340" data-speed="500" data-start="4500" data-easing="easeOutSine">
              <div class="list-item">
                <span><i class="fa fa-fullscreen br-lblue"></i> &nbsp;  Sint occaecat indigon and men.</span>
              </div>
            </div>
            <div class="caption sfb caption-list" data-x="500" data-y="390" data-speed="500" data-start="4700" data-easing="easeOutSine">
              <div class="list-item">
                <span><i class="fa fa-rocket br-green"></i> &nbsp; Iusto ducimu who are so bed.</span>
              </div>
            </div>
            
            <!-- Caption Buttons -->
            <div class="caption sfb slidetwo-cbtn" data-x="500" data-y="450" data-speed="500" data-start="4900" data-easing="easeOutSine">
              <a href="#" class="caption-button br-lblue"><i class="fa fa-desktop"></i> Get It Now!</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    </header><!--End header -->
  
   
    
    <!-- ==============================================
    SCRIPTS
    =============================================== --> 
    
    <script>window.jQuery || document.write('<script src="http://q-themes.net/themes/shapes/js/libs/jquery-1.8.2.min.js">\x3C/script>')</script>
    
    <script src="http://q-themes.net/themes/shapes/js/libs/bootstrap.min.js"></script>
    <script src='http://q-themes.net/themes/shapes/js/jquery.scrollto.js'></script>
    <script src='http://q-themes.net/themes/shapes/js/jquery.flexslider.min.js'></script>
    <script src='http://q-themes.net/themes/shapes/js/twitterFetcher_v10_min.js'></script>
    <script src='http://q-themes.net/themes/shapes/js/jquery.fitvids.js'></script>
    <script src='http://q-themes.net/themes/shapes/js/jquery.masonry.min.js'></script>
    <script src="http://q-themes.net/themes/shapes/js/waypoints.min.js"></script>
    <script src="http://q-themes.net/themes/shapes/js/jquery.backstretch.min.js"></script>
    <script src="http://q-themes.net/themes/shapes/js/contact.js"></script>
    <script src="http://q-themes.net/themes/shapes/js/shapes.js"></script>
    <script src="http://q-themes.net/themes/shapes/js/style-switcher.js"></script>

    <script src="http://responsivewebinc.com/premium/renata2/js/jquery.js"></script>

    
    <script type="text/javascript" src="http://responsivewebinc.com/premium/renata2/js/jquery.themepunch.revolution.min.js"></script>
    
    <script type="text/javascript" src="http://responsivewebinc.com/premium/renata2/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="http://responsivewebinc.com/premium/renata2/js/custom.js"></script>
    
    
  </body>
  
</html>