

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="http://responsivewebinc.com/premium/renata2/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://responsivewebinc.com/premium/renata2/css/animate.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/css/sty.css" rel="stylesheet">


    <link href="http://preview.codefeed.in.iis2103.shared-servers.com/initializer_updated/css/preloader.css" rel="stylesheet" />
    <script src="http://preview.codefeed.in.iis2103.shared-servers.com/initializer_updated/js/pace.min.js"></script>
    <link href="http://preview.codefeed.in.iis2103.shared-servers.com/initializer_updated/css/initializer_css.min.css" rel="stylesheet" />
    <link data-id-stylesheet="theme" href="http://preview.codefeed.in.iis2103.shared-servers.com/initializer_updated/css/theme-10.min.css" rel="stylesheet" />
    <script src="http://preview.codefeed.in.iis2103.shared-servers.com/initializer_updated/js/modernizr.js"></script>



    <div class="nav-head">
      <!-- Navigation Bar -->
      <nav class="navbar navbar-default" role="navigation">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
              <!-- Logo and Head Text -->
              <div class="logo">
                <!-- Logo Icon and Heading -->
                <img src="http://responsivewebinc.com/premium/renata2/img/logo.png" class="img-responsive" alt="" /><span>Renata</span>
              </div>
            </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a onclick="loadXMLDoc('home.html')">主页</a></li>
              <li><a onclick="loadXMLDoc()">合作企业</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pages <span class="fa fa-angle-down"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="error.html">404 Error</a></li>
                  <li><a href="careers.html">Careers</a></li>
                  <li><a href="comingsoon.html">Coming Soon</a></li>
                  <li><a href="faq.html">Faq</a></li>
                  <li><a href="features.html">Features</a></li>
                  <li><a href="gallery.html">Gallery</a></li>
                  <li><a href="login.html">Login/Register</a></li>
                  <li><a href="portfolio.html">Portfolio</a></li>
                  <li><a href="pricing.html">Pricing</a></li>
                  <li><a href="products.html">Products</a></li>
                  <li><a href="service.html">Service</a></li>
                  <li><a href="support.html">Support</a></li>
                  <li><a href="testimonials.html">Testimonials</a></li>
                </ul></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Blog <span class="fa fa-angle-down"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="blog.html">Blog</a></li>
                  <li><a href="blog-single.html">Blog Single</a></li>
                </ul></li>
              <li><a href="contact.html">Contact Us</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
      </nav>
    </div>
    <!-- Menu Bar End -->

<section id="work" class="portfolio full-screen">
        <div class="container ">


            <h2 class="portfolio-section-title text-center">Our Work</h2>


            <nav class="portfolio-filtering">

                <ul>
                    <li><a href="#" class="active " data-filter="logo ui-design print-design">All</a></li>
                    <li><a href="#" data-filter="logo">Logos</a></li>
                    <li><a href="#" data-filter="ui-design">UI</a></li>
                    <li><a href="#" data-filter="print-design">Print</a></li>
                </ul>
            </nav>



            <div class="portfolio-container" data-animation="fadeIn">


                <a href="#" class="portfolio-item logo" data-toggle="modal" data-target="#myModal">
                    <img src="http://preview.codefeed.in.iis2103.shared-servers.com/initializer_updated/img/portfolio-1.jpg" alt="" class="img-responsive" />
                    <span class="overlay"><span class="overlay-icon fa fa-plus"></span></span></a>
                <a href="#" class="portfolio-item print-design" data-toggle="modal" data-target="#myModal">
                    <span class="overlay"><span class="overlay-icon fa fa-plus"></span></span>
                    <img src="http://preview.codefeed.in.iis2103.shared-servers.com/initializer_updated/img/portfolio-2.jpg" alt="" class="img-responsive" /></a>
                <a href="#" class="portfolio-item print-design" data-toggle="modal" data-target="#myModal">
                    <span class="overlay"><span class="overlay-icon fa fa-plus"></span></span>
                    <img src="http://preview.codefeed.in.iis2103.shared-servers.com/initializer_updated/img/portfolio-3.jpg" alt="" class="img-responsive" /></a>
                <a href="#" class="portfolio-item ui-design" data-toggle="modal" data-target="#myModal">
                    <span class="overlay"><span class="overlay-icon fa fa-plus"></span></span>
                    <img src="http://preview.codefeed.in.iis2103.shared-servers.com/initializer_updated/img/portfolio-4.jpg" alt="" class="img-responsive" /></a>
                <a href="#" class="portfolio-item ui-design" data-toggle="modal" data-target="#myModal">
                    <span class="overlay"><span class="overlay-icon fa fa-plus"></span></span>
                    <img src="http://preview.codefeed.in.iis2103.shared-servers.com/initializer_updated/img/portfolio-5.jpg" alt="" class="img-responsive" /></a>
                <a href="#" class="portfolio-item logo" data-toggle="modal" data-target="#myModal">
                    <span class="overlay"><span class="overlay-icon fa fa-plus"></span></span>
                    <img src="http://preview.codefeed.in.iis2103.shared-servers.com/initializer_updated/img/portfolio-6.jpg" alt="" class="img-responsive" /></a>
                <a href="#" class="portfolio-item ui-design" data-toggle="modal" data-target="#myModal">
                    <span class="overlay"><span class="overlay-icon fa fa-plus"></span></span>
                    <img src="http://preview.codefeed.in.iis2103.shared-servers.com/initializer_updated/img/portfolio-7.jpg" alt="" class="img-responsive" /></a>
                <a href="#" class="portfolio-item print-design" data-toggle="modal" data-target="#myModal">
                    <span class="overlay"><span class="overlay-icon fa fa-plus"></span></span>
                    <img src="http://preview.codefeed.in.iis2103.shared-servers.com/initializer_updated/img/portfolio-8.jpg" alt="" class="img-responsive" /></a>
                <a href="#" class="portfolio-item print-design" data-toggle="modal" data-target="#myModal">
                    <span class="overlay"><span class="overlay-icon fa fa-plus"></span></span>
                    <img src="http://preview.codefeed.in.iis2103.shared-servers.com/initializer_updated/img/portfolio-9.jpg" alt="" class="img-responsive" /></a>
                <a href="#" class="portfolio-item logo" data-toggle="modal" data-target="#myModal">
                    <span class="overlay"><span class="overlay-icon fa fa-plus"></span></span>
                    <img src="http://preview.codefeed.in.iis2103.shared-servers.com/initializer_updated/img/portfolio-10.jpg" alt="" class="img-responsive" /></a>
                <a href="#" class="portfolio-item logo" data-toggle="modal" data-target="#myModal">
                    <span class="overlay"><span class="overlay-icon fa fa-plus"></span></span>
                    <img src="http://preview.codefeed.in.iis2103.shared-servers.com/initializer_updated/img/portfolio-11.jpg" alt="" class="img-responsive" /></a>
                <a href="#" class="portfolio-item ui-design" data-toggle="modal" data-target="#myModal">
                    <span class="overlay"><span class="overlay-icon fa fa-plus"></span></span>
                    <img src="http://preview.codefeed.in.iis2103.shared-servers.com/initializer_updated/img/portfolio-12.jpg" alt="" class="img-responsive" /></a>

            </div>


            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <button type="button" class="close portfolio-modal-close" data-dismiss="modal" aria-label="myModalLabel" aria-hidden="true"><i class="fa fa-times"></i></button>
                <div class="hz-divider medium"></div>
                <div class="container ">

                    <img class="img-responsive portfolio-description-imge" src="http://preview.codefeed.in.iis2103.shared-servers.com/initializer_updated/img/portfolio-description-1.jpg" alt="" />
                    <div class="hz-divider"></div>
                    <div class="portfolio-description-content">
                        <h2 class="portfolio-description-title">Portfolio Title</h2>
                        <hr />
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
                        </p>
                        <img class="pull-left img-responsive img-thumbnail" src="http://preview.codefeed.in.iis2103.shared-servers.com/initializer_updated/img/portfolio-5.jpg" alt="" />
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel.
                        </p>
                    </div>

                </div>
            </div>
        </div>

    </section>
    
    <script src="http://responsivewebinc.com/premium/renata2/js/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="http://responsivewebinc.com/premium/renata2/js/bootstrap.min.js"></script>
<script src="http://preview.codefeed.in.iis2103.shared-servers.com/initializer_updated/js/initializer_js.min.js"></script>
