<form action="/test2.html" method="POST">
	{%csrf_token%}
	<input type="text" name="bname1" value="2013-2014 内电子"/> 
	<input type="text" name="simg1" value="img/1_1.jpg"/> 
	<input type="text" name="limg1" value="img/1.jpg"/> 

	<input type="text" name="corder" value="1"/> 
	<input type="text" name="cname" value="百度"/> 
	<input type="text" name="categories" value="互联网"/> 
	<input type="text" name="csalary" value="2000-3000"/> 
	<input type="text" name="cplace" value="北京"/> 
	<input type="text" name="cnumber" value="3-5"/> 
	<input type="text" name="cposition" value="python工程师"/> 
	<input type="text" name="cdescribe" value="基础python"/> 
	<input type="text" name="clog" value="img/shpick.jpg"/> 
	<input type="text" name="cimg" value="img/77_pz8Xxm3.jpg"/> 
	<input type="text" name="cimg2" value="img/77_vd1ITwk.jpg"/> 

	<input type="text" name="pname" value="何家胜"/>
	<input type="text" name="pcompany" value="Google"/>
	<input type="text" name="pintr" value="asdasdadaasdasd"/>
	<input type="text" name="pimg" value="img/t&s/何家胜-ios_1.jpg"/>


	<input type="text" name="tcategory" value="head_name_1"/>
	<input type="text" name="tname" value="实习生"/>
	<input type="text" name="tintr" value=""/>

	<input type="text" name="tcategory2" value="head_name_2"/>
	<input type="text" name="tname2" value="shixisheng.cc"/>
	<input type="text" name="tintr2" value=""/>

	<input type="text" name="tcategory3" value="home_fixed"/>
	<input type="text" name="tname3" value="实习生梦工厂"/>
	<input type="text" name="tintr3" value=""/>

	<input type="text" name="tcategory4" value="home_roll"/>
	<input type="text" name="tname4" value="想要实习生吗？"/>
	<input type="text" name="tintr4" value=""/>

	<input type="text" name="tcategory5" value="home_roll"/>
	<input type="text" name="tname5" value="想要实习岗位吗？"/>
	<input type="text" name="tintr5" value=""/>

	<input type="text" name="tcategory6" value="navigation_1"/>
	<input type="text" name="tname6" value="主页"/>
	<input type="text" name="tintr6" value=""/>

	<input type="text" name="tcategory7" value="navigation_2"/>
	<input type="text" name="tname7" value="合作企业"/>
	<input type="text" name="tintr7" value="大量的企业供你选择"/>

	<input type="text" name="tcategory8" value="navigation_3"/>
	<input type="text" name="tname8" value="往期实习"/>
	<input type="text" name="tintr8" value="看到这些成功案例你还不心动吗"/>

	<input type="text" name="tcategory9" value="navigation_4"/>
	<input type="text" name="tname9" value="指导教师"/>
	<input type="text" name="tintr9" value=""/>

	<input type="text" name="tcategory10" value="navigation_5"/>
	<input type="text" name="tname10" value="优秀学员"/>
	<input type="text" name="tintr10" value="这么多的优秀学员为你的企业助力"/>

	<input type="text" name="tcategory11" value="navigation_6"/>
	<input type="text" name="tname11" value="我要招聘"/>
	<input type="text" name="tintr11" value=""/>

	<input type="text" name="tcategory12" value="navigation_7"/>
	<input type="text" name="tname12" value="我要实习"/>
	<input type="text" name="tintr12" value=""/>

	<input type="text" name="tcategory13" value="navigation_8"/>
	<input type="text" name="tname13" value="FAQ"/>
	<input type="text" name="tintr13" value=""/>


	<input type="text" name="sorder" value="1"/>
	<input type="text" name="sname" value="小明"/>
	<input type="text" name="slevel" value="百里挑一"/>
	<input type="text" name="ssex" value="男"/>
	<input type="text" name="sgrade" value="大三"/>
	<input type="text" name="splace" value="北京"/>
	<input type="text" name="sposition" value="python"/>
	<input type="text" name="ssalary" value="2500"/>
	<input type="text" name="scontact" value="1231312312331"/>
	<input type="text" name="sintr" value="箝位器为其恶趣味权威去"/>
	<input type="text" name="simg" value="img/77_pz8Xxm3.jpg"/>
</p>
	<button>llllll</button>



</form>